// Кнопка "Подробнее" со стрелкой
.more-btn-arrow {
  display: inline-flex;
  align-items: center;

  &__text {
    position: relative;
    letter-spacing: 0.1em;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      z-index: -1;
      width: 0;
      height: 4px;
      background: $gold;
      @include transition();
    }
  }

  &__img {
    width: 12px;
    height: 20px;
    margin-left: 10px;
    @include transition();

    path {
      stroke: none;
    }
  }

  &:hover &__img {
    transform: translateX(4px);
  }

  &:hover &__text::before {
    width: 40%;
  }
}

// Кнопка "Подробнее" с обводкой
.more-btn-border {
  position: relative;
  z-index: 0;
  padding: 12px 24px;
  border: 1px solid $white;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  @include transition();

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -1px;
    z-index: -1;
    height: 105%;
    width: 0;
    background: $white;
    @include transition();
  }

  &:hover {
    color: $dark-grey;

    &::before {
      left: -1px;
      right: -1px;
      width: 105%;
    }
  }
}

// Кнопка "Вернуться назад"
.button-back {
  $btn-back-width: 55px;

  position: relative;
  height: $btn-back-width;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 20px 0 $btn-back-width + 20px;

  &:hover &__circle {
    width: 100%;
    border-radius: $btn-back-width;
  }

  &:hover &__text {
    color: $dark-grey;
    transform: translateX(-20px);
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: $btn-back-width;
    border-radius: $btn-back-width;
    background: $gold;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition();

    &-img {
      position: absolute;
      left: 18px;
      top: 50%;
      width: 16px;
      height: 16px;
      transform: rotate(180deg) translateY(45%);

      & path {
        fill: $dark-grey;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 1;
    @include transition();
  }
}