.logo {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 16px;
  height: 64px;

  &-title {
    font-weight: 600;
    font-size: 24px;
    line-height: normal;
  }

  &-subtitle {
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.1em;
    color: $light-grey-1;
    @include transition();
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    border: 2px solid $gold;
    border-right: 0;
    @include transition();
  }

  &:hover {
    &::before {
      width: 30px;
    }
  }
  &:hover &-subtitle {
    color: $white;
  }
}