.marquee {
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 10;
  height: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(255, 215, 0, 0.5);
  backdrop-filter: blur(6px);
  @include transition();

  &:not(.about-marquee):hover {
    background: rgba(255, 215, 0, 0.1);
    backdrop-filter: blur(0);
  }

  &__text .js-marquee {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    text-align:center;
  }
}