.nav-bar {
  position: sticky;
  width: $nav-bar-width;
  height: fit-content;
  padding: 20px 30px;
  background: $dark-grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      height: 0;
      width: 2px;
      border-radius: 2px;
      transform: translateY(-50%);
      background: $gold;
      @include transition();
    }

    &-active &-link { 
      font-size: 16px;
      font-weight: 500;
      transform: translateX(14px);
    }

    &-active::before {
      height: 90%;
      width: 4px;
    }

    &:has(.nav-bar__item-link:hover) {
      &::before {
        height: 90%;
      }
    }

    &-link {
      font-size: 14px;
      font-weight: 300;
      @include transition();

      &:hover {
        transform: translateX(14px);
      }
    }
  }
}