.result {
  $result-category-width: 300px;
  $result-year-width: 300px;
  $result-margin: 40px;

  position: relative;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 120px;
    z-index: 5;
    background: linear-gradient(270deg, $black 0%, rgba(39, 39, 39, 0) 100%);
  }

  &-title {
    display: flex;
    padding-bottom: 40px;
    color: $yellow;
    border-bottom: 1px solid $grey;

    &__description {
      width: 100%;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.05em;
    }

    &__category {
      width: $result-category-width;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0.05em;
      flex-shrink: 0;
      margin-left: $result-margin;
    }

    &__year {
      width: $result-year-width;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-left: $result-margin;
      @include transition();

      &:hover &-img {
        scale: 1.15;

        & path {
          opacity: 100%;
        }
      }

      &-text {
        font-weight: 700;
        font-size: 20px;
        margin-right: 10px;
        letter-spacing: 0.05em;
        @include transition();
      }

      &-img {
        width: 14px;
        height: 10px;
        @include transition();

        & path {
          fill: $grey;
          opacity: 50%;
          @include transition();
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
  }

  &-item {
    display: flex;
    padding: 25px 0;
    border-bottom: 1px solid $grey;

    &__law {
      background: linear-gradient(90deg, rgba(255, 215, 0, 0) 78.79%, rgba(255, 215, 0, 0.2) 100%, rgba(255, 215, 0, 0) 100%);
      @include transition();

      &:hover {
        background: linear-gradient(90deg, rgba(255, 215, 0, 0) 20%, rgba(255, 215, 0, 0.2) 100%, rgba(255, 215, 0, 0) 100%);
      }
    }

    &__info {
      background: linear-gradient(90deg, rgba(64, 64, 64, 0) 78.86%, #404040 100%, rgba(64, 64, 64, 0) 100%);
      @include transition();

      &:hover {
        background: linear-gradient(90deg, rgba(64, 64, 64, 0) 20%, #404040 100%, rgba(64, 64, 64, 0) 100%);
      }
    }

    &__description {
      width: 100%;

      &-text {
        margin-bottom: 20px;
      }

      &-more {
        & .more-btn-arrow__text {
          color: $yellow;

          &::before {
            background: $white;
          }
        }

        & .more-btn-arrow__img {
          & path {
            fill: $yellow;
          }
        }
      }
    }

    &__category {
      width: $result-category-width;
      flex-shrink: 0;
      margin-left: $result-margin;
      letter-spacing: 0.05em;
    }

    &__year {
      width: $result-year-width;
      flex-shrink: 0;
      margin-left: $result-margin;
      letter-spacing: 0.05em;
    }
  }
}