.ticker {
  position: absolute;
  top: 35%;
  z-index: 10;
  height: 160px;
  width: 200vw;
  display: flex;
  align-items: center;
  transform: translateX(-20%);
  background: rgba(255, 215, 0, 0.5);
  backdrop-filter: blur(6px);

  &__text {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    margin-right: 30vw;
  }
}