.events-detail {
  &__title {
    &-breadcrumbs {
      margin-top: 20px;
    }

    &.title-block .title-block__title {
      font-size: 60px;
    }

    &-masonry {
      margin-top: 80px;
      max-width: 1010px;
      height: 520px;
      background-size: cover;
      background-position: top 0 left 20%;
      background-blend-mode: multiply, color, normal;
      background-attachment: local;

      .masonry-bloks {
        grid-template-columns: 450px 220px 300px;
        grid-template-rows: 150px 80px 250px;
      }
    }
  }

  &__body {
    margin: $block-margin 0;
    padding: 0 $page-padding;
    width: 100%;

    &-header {
      padding: 0 0 30px $title-left-padding;
      border-bottom: 1px solid $red;
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
    }

    &-title {
      width: 70%;
      font-size: 24px;
      font-weight: 700;
    }

    &-subtitle {
      font-size: 24px;
      font-weight: 700;
    }

    &-content {
      position: relative;
      padding-left: $title-left-padding;
    }

    &-text {
      width: 65%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &-back {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}