.FAQ {
  &-block {
    padding-right: 80px;
  }

  &-companies {
    margin-bottom: 120px;

    &__cards {
      margin-bottom: 80px;
      display: block;

      .info__page-card {
        height: 280px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &-title {
          font-weight: 700;
          font-size: 20px;
          margin-bottom: 20px;
        }

        &-description {
          font-weight: 300;
          letter-spacing: 0.05em;
        }

        & .element-arrow {
          bottom: 30px;
        }
      }
    }

    &-forms {
      &__title {
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.05em;
        margin-bottom: 20px;
      }
    }
  }

  &-business {
    margin-bottom: 120px;

    &__list {
      list-style: decimal;
      list-style-position: outside;
      list-style-type: decimal;
      padding-left: 30px;

      &:not(:last-child) {
        margin-bottom: 35px;
      }

      &-title {
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin-bottom: 35px;
      }

      &-item {
        display:list-item;
        letter-spacing: 0.04em;
        font-weight: 300;

        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}