.info {
  &__title {
    &-breadcrumbs {
      margin-top: 20px;
    }

    // &-masonry {
    //   margin-top: 80px;
    //   max-width: 1220px;
    //   height: 700px;
    //   background-size: 70%;
    //   background-position: top 10% left 30%;
    //   background-blend-mode: multiply, color, normal;
    // }
  }

  &__subtitle {
    max-width: 600px;
    font-size: 20px;
    margin-bottom: 100px;
  }

  &__body {
    padding: 0 $page-padding;
    margin-bottom: $block-margin;
    width: 100%;
  }
  
  &__header {
    border-bottom: 1px solid $gold;
    padding-right: 80px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
  }

  &__tabs {
    justify-content: flex-end;
  }

  &__content {
    position: relative;
    width: 100%;
    overflow: clip;
  }

  &__page {
    position: absolute;
    top: 0;
    z-index: -100;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    @include transition();

    &.active {
      position: relative;
      z-index: auto;
      transform: translateX(0);
      opacity: 100%;
    }

    &-content {
      width: 100%;
      display: flex;
  
      &__navigation {
        position: sticky;
        top: 20px;
        width: $nav-bar-width;
        height: fit-content;
      }

      &__block {
        margin-left: 40px;
        width: calc(100% - $nav-bar-width - 40px);

        &-title {
          position: relative;
          font-weight: 700;
          font-size: 36px;
          max-width: 800px;
          margin: 0 auto 80px;
          padding-bottom: 10px;
          text-align: center;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 140px;
            height: 2px;
            background: $gold;
          }
        }
      }
    }

    &-cards {
      display: grid;
      perspective: 1000px;
    }

    &-card {
      position: relative;
      background: $dark-grey;
      border-radius: 20px;
      transform-style: preserve-3d;
      @include transition();
      padding: 40px 40px 30px;

      &-title {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.05em;
      }

      &:hover {
        box-shadow: 0px -6px 20px -2px rgba(225, 233, 240, 0.10);
        transform: translateZ(20px);

        & .element-arrow {
          &__img {
            transform: translateX(10px);
          }
        }
      }

      & .element-arrow {
        position: absolute;
        bottom: 50px;
        right: 40px;
        height: 24px;
        width: 18px;

        &::before {
          content: "";
          position: absolute;
          right: 6px;
          top: 50%;
          transform: translateY(-60%);
          width: 30px;
          height: 3px;
          background: $gold;
          border-radius: 2px;
          @include transition();
        }

        &__img {
          width: 100%;
          height: 100%;
          @include transition();
          
          & path {
            stroke: $gold;
            fill: $gold;
            stroke-width: 0.5px;
          }
        }
      }
    }

    .accordion_content {
      & .accordion-item {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          width: 100%;
          height: 0;
          background: $dark-grey;
          @include transition();
        }

        &__trigger {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 30px;
          border-top: 1px solid $light-grey-1;

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 1px;
            background: $yellow;
            @include transition();
          }

          &:hover .accordion-item__trigger-circle {
            background: $yellow;

            & span {
              background: $black;

              &:before {
                background: $black;
              }
            }
          }
  
          &-number {
            position: absolute;
            top: 20px;
            left: 30px;
            font-size: 14px;
            font-weight: 300;
          }
  
          &-text {
            padding-left: 45px;
            font-weight: 300;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            width: 70%;
          }
  
          &-circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $dark-grey;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition();
  
            & span {
              position: relative;
              width: 22px;
              height: 1px;
              background: $white;
              @include transition();
  
              &:before {
                content: '';
                position: absolute;
                width: inherit;
                height: inherit;
                background: $white;
                transform: rotate(90deg);
                @include transition();
              }
            }
          }
        }

        &.accordion-item__active {
          &::before {
            content: '';
            height: 100%;
          }

          & .accordion-item__trigger {
            & .accordion-item__trigger-circle {
              background: $gold;
              transform: rotate(90deg);

              & span {
                background: $black;
                transform: rotate(90deg);

                &:before {
                  transform: rotate(180deg);
                  background: $black;
                }
              }
            }

            &::before{
              width: calc(100% - 30px * 2);
              transform: translateX(-50%);
              @include transition();
            } 
          }
        }

        &__content {
          position: relative;
          width: 100%;
          padding: 20px 75px 40px;
          margin: 0;
          display: none;

          &-item {
            display: flex;
            letter-spacing: 0.04em;
            font-weight: 300;

            &:not(:last-child) {
              margin-bottom: 12px;
            }
          }

          & .content {
            &-item {
              &__title {
                font-weight: 700;
                width: 220px;
              }

              &__block {
                display: flex;
                flex-direction: column;

                &-item {
                  &:not(:first-child) {
                    margin-top: 6px;
                  }

                  &-link {
                    @include transition();

                    &:hover {
                      color: $gold;
                    }
                  }
                }
              }
            }

            &-list {
              list-style: disc;
              list-style-position: inside;

              &__title {
                font-weight: 700;
                margin-bottom: 12px;
              }

              &__item {
                display: list-item;
                list-style-type: "• ";
              }
            }
          }
        }
      }
    }
  }
}