.laws {
  &__title {
    &-breadcrumbs {
      margin-top: 20px;
    }

    &-masonry {
      margin-top: 80px;

      .masonry-bloks {
        background-image: linear-gradient(to top, #D2E2F0, #D2E2F0),
                          linear-gradient(to top, $black, $black),
                          url('@img/laws/darcey-beau-vtK31JoeAFk-unsplash.jpg');
        background-size: 135%;
        background-position: top 5% left 40%;
        background-blend-mode: multiply, color, normal;
      }
    }
  }
}