.laws-detail {
  &__body {
    margin: $block-margin 0;
    padding: 0 $page-padding;
  }

  &__title {
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid $light-grey-1;
    display: flex;
    justify-content: space-between;

    &-name {
      width: 70%;
      font-weight: 700;
      font-size: 24px;
    }

    &-year {
      font-weight: 700;
      font-size: 24px;
    }
  }

  &__block {
    display: flex;
    padding-right: 100px;
  }

  &__navigation {
    position: sticky;
    top: 130px;
    width: 340px;
    height: fit-content;
    flex-shrink: 0;

    & .navigation-download {
      position: relative;
      width: 100%;
      padding: 20px 45px;
      background: $dark-grey;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      margin-bottom: 25px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        height: 100%;
        width: 0;
        background: $white;
        @include transition();
      }

      &:hover::before {
        width: 100%;
      }

      &:hover .navigation-download__text {
        color: $dark-grey;
      }

      &:hover .navigation-download__img path {
        fill: $dark-grey;
      }

      &__text {
        position: relative;
        z-index: 1;
        font-size: 18px;
        @include transition();
      }

      &__img {
        position: relative;
        z-index: 1;
        width: 30px;

        & path {
          fill: $white;
          @include transition();
        }
      }
    }
  }

  &__content {
    width: 100%;
    margin-left: 80px;
    background: $dark-grey;
    border-radius: 20px;
    padding: 80px 60px 60px;

    & .law-title {
      font-weight: 700;
      line-height: 1.75;

      &:not(:first-child) {
        margin: 12px 0;
      }
    }

    & .law-text {
      font-weight: 300;
      margin-bottom: 8px;
    }

    & .law-line {
      width: 300px;
      height: 1px;
      background: $white;

      &-center {
        margin: 30px auto 50px;
      }

      &-left {
        margin: 30px 0 8px;
      }
    }

    & .law-list {
      margin: 12px 0;

      & li {
        &:not(:last-child) {
          margin-bottom: 12px;
        }
      }
    }

    & .wide {
      line-height: 1.75;
    }

    & .bold {
      font-weight: 700;
      display: inline-block;
    }

    & .center {
      text-align: center;
    }

    & .main {
      line-height: 2;
    }

    & .italic {
      font-size: 14px;
      font-weight: 200;
      font-style: italic;
    }

    & .super {
      display: inline;
      vertical-align: super;
      font-size: 10px;
    }

    & .right {
      text-align: right;
    }
  }
}