.index {
  .title-block {
    position: relative;
    height: 100vh;
    max-height: 900px;
    width: 100%;
    padding-top: 110px;
    background-image: linear-gradient(to top, #D2E2F0, #D2E2F0),
                      linear-gradient(to top, $black, $black),
                      url('@img/main/title-block.jpg');
    background-blend-mode: multiply, color, normal;
    background-size: cover;
    background-position: bottom;

    &__body {
      width: 100%;
      height: 100%;
      padding: 150px $page-padding 0 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__slider {
      height: 350px;
      width: 100%;

      &-wrapper {
        height: inherit;
      }
    }

    &__navigation {
      align-self: flex-end;
      display: flex;
      align-items: flex-end;

      &-buttons {
        display: flex;
        align-items: center;
        margin: 0 140px 40px 0;
      }

      &-button {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 500;
        @include transition();

        &:hover {
          color: $gold;
        }
      }

      &-line {
        height: 20px;
        width: 2px;
        margin: 0 20px;
        background: $white;
      }

      &-prev {
        opacity: 70%;
      }
    }

    &__pages {
      position: relative;
      width: 600px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 30px;
      background: rgba(39, 39, 39, 0.7);

      &-loading {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 60%;
        background: $gold;
      }

      &-item {
        display: flex;
        align-items: center;

        &.active .title-block__pages-number {
          color: $gold;
        }
      }

      &-number {
        font-size: 36px;
        font-weight: 700;
        margin-right: 15px;
      }

      &-text {
        text-transform: uppercase;
      }
    }

    &__content {
      position: relative;
      height: 350px;
      width: 100%;
      padding: 38px 0 0 38px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 130px;
        border: 4px solid $gold;
        border-right: none;
      }

      &-title {
        font-size: 74px;
        font-weight: 700;
        line-height: 85px;
        text-transform: capitalize;

        span {
          font-size: inherit;
          line-height: inherit;
          display: inline;
          color: $gold;
        }
      }

      &-subtitle {
        font-size: 20px;
        line-height: 150%;
        text-transform: capitalize;
        margin-bottom: 6px;
      }

      &-more {
        margin-top: 50px;
      }
    }
  }
}