.search-page {
  &__title {
    &-breadcrumbs {
      margin-top: 20px;
    }

    &-masonry {
      margin-top: 80px;
      max-width: 1220px;
      height: 700px;
      background-size: 70%;
      background-position: bottom 75% left 30%;
      background-blend-mode: multiply, color, normal;
    }
  }

  &__body {
    margin: $block-margin 0;
    padding: 40px $page-padding 0;
    border-top: 1px solid $red;

    &-wrapper {
      padding: 0 155px;
    }
  }

  &__settings {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__search-block {
    width: 800px;
  }

  &__search {
    height: 60px;

    & .search-input {
      padding: 0 0 0 40px;
    }

    &-history {
      position: relative;
      width: 100%;
      height: min-content;
      margin-top: 25px;

      &.start {
        &::before {
          width: 0;
          @include transition($duration: 200ms);
        }
      }

      &.end {
        &::after {
          width: 0;
          @include transition($duration: 200ms);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 25px;
        height: 100%;
        background: linear-gradient(90deg, $black 0%, rgba(39, 39, 39, 0) 100%);
        @include transition($duration: 200ms);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        width: 25px;
        height: 100%;
        background: linear-gradient(270deg, $black 0%, rgba(39, 39, 39, 0) 100%);
        @include transition($duration: 200ms);
      }

      & .serch-history__item {
        position: relative;
        width: fit-content;
        font-weight: 300;
        font-size: 14px;
        padding: 2px 15px;
        border: 1px solid $white;
        border-radius: 4px;
        overflow: hidden;
        user-select: none;
        @include transition();

        &:not(:last-child) {
          margin-right: 10px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          z-index: -1;
          width: 0;
          height: 100%;
          background: $white;
          @include transition();
        }

        &:hover {
          color: $dark-grey;

          &::before {
            width: 100%;
            left: 0;
          }
        }
      }
    }

    &-count {
      display: flex;
      justify-content: center;
      margin-top: 15px;

      & span {
        margin-left: 6px;
      }
    }
  }

  &__filters {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    
    &-items {
      display: flex;
      justify-content: end;
      margin-top: 25px;
    }

    &-item {
      position: relative;
      letter-spacing: 0.1em;
      color: $white;
      padding-bottom: 2px;
      cursor: pointer;
      @include transition();

      & input[type=checkbox] {
        position: absolute;
        z-index: -1;
        opacity: 0;
      }

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 60%;
        height: 1px;
        transform: translateX(-50%);
        background: $white;
        @include transition();
      }

      &:hover::before {
        width: 80%;
      }

      &:has(input[type=checkbox]:checked) {
        color: $yellow;

        &::before {
          background: $yellow;
          width: 100%;
        }
      }

      &:not(:first-child) {
        margin-left: 16px;
      }
    }
  }

  &__content {
    margin-top: 80px;

    &-result {
      margin-bottom: 50px;

      & .result-title {
        padding: 0 40px 40px;
      }

      & .result-item {
        padding: 25px 40px;
      }
    }
  }
}