$footer-hight: 700px;
$footer-bottom-hight: 105px;

.footer {
  height: $footer-hight;
  overflow: hidden;

  &-content {
    width: 100%;
    height: 100%;

    &__body {
      position: relative;
      height: $footer-hight - $footer-bottom-hight;
      background-image: linear-gradient(to top, #A4A6A7, #A4A6A7),
                        linear-gradient(to top, #B3D0E9, #B3D0E9),
                        url('@img/fredrik-ohlander-fCW1hWq2nq0-unsplash.jpg');
      background-blend-mode: multiply, color, normal;
      background-size: 100%;
      background-position: left 0 bottom 35%;
      background-attachment: fixed;
      padding-right: 100px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, $black 0%, rgba(39, 39, 39, 0) 50%);
      }

      &-blocks {
        z-index: 1;
        display: flex;
        align-items: flex-end;
      }

      &-block {
        position: relative;
        background: $dark-grey;
        border-radius: 20px 20px 0 0;
        box-shadow: -6px 24px 20px 4px rgba(0, 0, 0, 0.25);
        padding: 40px;
        height: fit-content;
        @include transition();

        &:not(:last-child) {
          margin-right: -50px;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 3;
          width: 100%;
          height: 50px;
          background: linear-gradient(180deg, rgba(64, 64, 64, 0) 0%, $dark-grey 100%);
          @include transition();
        }

        &:hover {
          transform: translateY(0);
          transform: translateX(-10px);

          &::before {
            transform: translateY(0);
            height: 0;
          }
        }

        .body-block {
          &__title {
            padding-bottom: 14px;
            border-bottom: 1px solid $white;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            &-text {
              text-transform: uppercase;
              font-size: 20px;
              letter-spacing: 0.2em;
              line-height: normal;
              font-weight: 700;
            }
          }

          &__content {
            padding: 0 30px;

            & .navigation {
              display: flex;
              flex-direction: column;
    
              &__item {
                @include transition();

                &::before {
                  content: "";
                  position: absolute;
                  bottom: 50%;
                  right: 0;
                  left: auto;
                  z-index: 0;
                  transform: translateY(90%);
                  width: 0;
                  height: 4px;
                  background: $gold;
                  @include transition();
                }
            
                &.active::before,
                &:hover::before {
                  width: 30%; 
                }

                &.active .navigation__item-link,
                &:hover .navigation__item-link {
                  padding-left: 10px;
                }
    
                &-link {
                  display: inline-block;
                  position: relative;
                  z-index: 2;
                  font-weight: 300;
                  background: $dark-grey;
                  padding-right: 20px;
                  @include transition();
                }
              }
    
              &__item:not(:last-child) {
                margin-bottom: 15px;
              }
            }

            &-search {
              width: 100%;
              height: 40px;
              margin-bottom: 20px;
            }
          }
        }
      }

      &-logo {
        width: 400px;
        display: flex;
        justify-content: center;
        transform: translateY(20px);

        &::before {
          transform: translateY(-20px);
        }
      }

      &-map {
        width: 500px;
        transform: translateY(80px);

        &::before {
          transform: translateY(-80px);
        }
      }

      &-links {
        width: 600px;
        transform: translateY(140px);

        &::before {
          transform: translateY(-140px);
        }
      }
    }

    &__bottom {
      position: relative;
      z-index: 10;
      height: $footer-bottom-hight;
      border-top: 1px solid $white;
      background: $black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}