extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.events-detail
    // Блок с заголовком
    .events-detail__title.title-block
      ul.events-detail__title-breadcrumbs.breadcrumbs
        li.breadcrumbs__item.breadcrumbs__item-prev
          a.breadcrumbs__item-text(href="/") Главная
          img.breadcrumbs__item-arrow.svg(src="@img/svg/arrow-right-thin.svg", alt="")
        li.breadcrumbs__item.breadcrumbs__item-prev
          a.breadcrumbs__item-text(href="/events") События
          img.breadcrumbs__item-arrow.svg(src="@img/svg/arrow-right-thin.svg", alt="")
        li.breadcrumbs__item.breadcrumbs__item-current
          span.breadcrumbs__item-text Гражданин ОАЭ впервые выйдет в открытый космос
      +marquee("Гражданин ОАЭ впервые выйдет в открытый космос", "events-detail__title-marquee")
      .events-detail__title-masonry.masonry(data-type="img-bg", data-mask="linear-gradient(to top, #D2E2F0, #D2E2F0), linear-gradient(to top, #272727, #272727)")
        img.masonry-bg(src="@img/events/news-1.webp", alt="")
        .masonry-bloks
          .masonry-bloks__item.masonry-bloks__item-1
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-2
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-3
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-4
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-5
            .masonry-bloks__item-content
    .events-detail__body
      .events-detail__body-header
        h2.events-detail__body-title Султан Аль Нейяди станет первым арабом, который совершит выход в открытый космос.
        span.events-detail__body-subtitle 12.04.2023
      .events-detail__body-content
        +button-back("Все события", "/events", "events-detail__body-back")
        p.events-detail__body-text Космонавт из Объединенных Арабских Эмиратов Султан Аль Нейяди, находящийся в настоящее время на МКС, станет первым арабом, который совершит выход в открытый космос. Это событие запланировано на 28 апреля, как ожидается, 41-летний эмиратец будет находиться за пределами Международной космической станции более шести часов, благодаря чему впишет свое имя в учебники истории.
        p.events-detail__body-text Вместе с коллегой из НАСА Стивеном Боуэном они будут заниматься заменой коммуникационного оборудования, установленного снаружи орбитальной научной лаборатории. Стоит отметить, что за пределами МКС побывало 259 космонавтов, всего было совершено менее 700 выходов в открытый космос.
        p.events-detail__body-text Ранее выходы в открытый космос совершали только космонавты из стран, инвестировавших в МКС: США, России, Евросоюза, Канады и Японии. Султан Аль Нейяди тренировался в Лаборатории нейтральной плавучести в Космическом центре НАСА имени Джонсона в Хьюстоне — в 127-килограммовом скафандре.
        p.events-detail__body-text Работы будут проходить в условиях микрогравитации на высоте более 400 км над Землей: МКС движется со скоростью около 8 км в секунду, совершая полный оборот вокруг планеты всего за 90 минут. 59-летний Стивен Боуэн совершил уже 7 выходов в открытый космос. Выход эмиратца в открытый космос будет транслироваться в онлайн-режиме.
        p.events-detail__body-text Султан Аль Нейяди начал свою шестимесячную миссию на Международной космической станции 4 марта 2023 года. Он прибыл на МКС на ракете Falcon 9, путь занял почти сутки. Космонавт проведет около 20 экспериментов по заказу университетов ОАЭ, а также будет заниматься исследовательской работой, порученной НАСА, и техническим обслуживанием станции. Благодаря этой миссии ОАЭ станут 11-й страной в истории, отправившей своего гражданина в столь долгосрочное космическое путешествие.

block footer
  include ../partials/_footer.pug