extends ../layouts/master.pug

block header
  include ../partials/_header.pug

  -
    const events_list = [
      {
        title: 'Гражданин ОАЭ впервые выйдет в открытый космос',
        date: '12.04.2023',
        description: 'Султан Аль Нейяди станет первым арабом, который совершит выход в открытый космос.',
        img: '@img/events/news-1.webp',
        url: '/events-detail'
      },
      {
        title: 'В ОАЭ приобретут новые самолеты для засева облаков',
        date: '11.04.2023',
        description: 'Национальный центр метеорологии Объединенных Арабских Эмиратов обновит флот самолетов, выполняющих операции по засеву облаков.',
        img: '@img/events/news-2.webp',
        url: '/events-detail'
      },
      {
        title: 'В ОАЭ поступили в обращение новые банкноты',
        date: '10.04.2023',
        description: 'В Объединенных Арабских Эмиратах поступили в обращение новые банкноты номиналом 1000 дирхамов – они уже доступны в банках и обменных пунктах',
        img: '@img/events/news-3.webp',
        url: '/events-detail'
      },
      {
        title: 'В ОАЭ ввели новые сборы для претендентов на «золотые» визы',
        date: '10.04.2023',
        description: 'Федеральное управление по вопросам идентификации, гражданства, таможенной и портовой безопасности (ICP) Объединенных Арабских Эмиратов ввело новый сбор в размере 1250 дирхамов за выдачу шестимесячного разрешения на въезд претендентам на получение 10-летней «золотой» визы.',
        img: '@img/events/news-4.webp',
        url: '/events-detail'
      },
      {
        title: 'Гражданин ОАЭ впервые выйдет в открытый космос',
        date: '12.04.2023',
        description: 'Султан Аль Нейяди станет первым арабом, который совершит выход в открытый космос.',
        img: '@img/events/news-1.webp',
        url: '/events-detail'
      },
      {
        title: 'В ОАЭ приобретут новые самолеты для засева облаков',
        date: '11.04.2023',
        description: 'Национальный центр метеорологии Объединенных Арабских Эмиратов обновит флот самолетов, выполняющих операции по засеву облаков.',
        img: '@img/events/news-2.webp',
        url: '/events-detail'
      },
      {
        title: 'В ОАЭ поступили в обращение новые банкноты',
        date: '10.04.2023',
        description: 'В Объединенных Арабских Эмиратах поступили в обращение новые банкноты номиналом 1000 дирхамов – они уже доступны в банках и обменных пунктах',
        img: '@img/events/news-3.webp',
        url: '/events-detail'
      },
      {
        title: 'В ОАЭ ввели новые сборы для претендентов на «золотые» визы',
        date: '10.04.2023',
        description: 'Федеральное управление по вопросам идентификации, гражданства, таможенной и портовой безопасности (ICP) Объединенных Арабских Эмиратов ввело новый сбор в размере 1250 дирхамов за выдачу шестимесячного разрешения на въезд претендентам на получение 10-летней «золотой» визы.',
        img: '@img/events/news-4.webp',
        url: '/events-detail'
      },
      {
        title: 'Гражданин ОАЭ впервые выйдет в открытый космос',
        date: '12.04.2023',
        description: 'Султан Аль Нейяди станет первым арабом, который совершит выход в открытый космос.',
        img: '@img/events/news-1.webp',
        url: '/events-detail'
      }
    ]

block content
  main.events
    // Блок с заголовком
    .events__title.title-block
      ul.events__title-breadcrumbs.breadcrumbs
        li.breadcrumbs__item.breadcrumbs__item-prev
          a.breadcrumbs__item-text(href="/") Главная
          img.breadcrumbs__item-arrow.svg(src="@img/svg/arrow-right-thin.svg", alt="")
        li.breadcrumbs__item.breadcrumbs__item-current
          span.breadcrumbs__item-text События
      +marquee("Последние события ОАЭ", "events__title-marquee")
      .events__title-masonry.masonry(data-type="img-bg", data-mask="linear-gradient(to top, #D2E2F0, #D2E2F0), linear-gradient(to top, #272727, #272727)")
        img.masonry-bg(src="@img/events/good-good-good-rqIfy1UyIzE-unsplash.jpg", alt="")
        .masonry-bloks
          .masonry-bloks__item.masonry-bloks__item-1
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-2
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-3
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-4
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-5
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-6
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-7
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-8
            .masonry-bloks__item-content
    .events__body
      .events__wrapper
        .events__content
          .events__items
            .events__content-filters.events-filters
              form.events-filters__search-form(role="search")
                .events-filters__search.search.transparent
                  input.search-input(type="search", name="search" placeholder="Поиск по событиям", minlength="4")
                  button.search-btn
                    img.search-btn__img.svg(src="@img/svg/search.svg", alt="Поиск")
                .events-filters__buttons
                  +datepicker("Дата", "events-filters__buttons-filters-date", "events-filters-datepicker")
                  button.events-filters__submit(type="submit") Поиск
              p.events-filters__count Найдено записей: #[span 3]
            .events__content-title
              h2.events-item__title Последние новости и события ОАЭ
            each event in events_list
              a.events-item(href= event.url)
                .events-item__image
                  img.events-item__image-img(src= event.img, alt="")
                .events-item__content
                  h3.events-item__title= event.title
                  span.events-item__date= event.date
                  p.events-item__description= event.description
                  .events-item__more.more-btn-arrow
                    p.more-btn-arrow__text Читать далее
                    img.more-btn-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          +pagination("events-pagination")

block footer
  include ../partials/_footer.pug