extends ../layouts/master.pug

block header
  .index-page
    include ../partials/_header.pug

  -
    const main_slides = [
      {
        title: 'Законодательство </br><span>Арабских Эмиратов</span>',
        subtitle: 'Просто',
        button: ''
      },
      {
        title: 'Вся <span>информация</span> </br>на одном сайте',
        subtitle: 'быстро',
        button: 'Справочная информация'
      },
      {
        title: 'Только актуальные </br><span>законы</span> ОАЭ',
        subtitle: 'Эффективно',
        button: 'Законодательство ОАЭ'
      },
    ]

block content
  main.index
    // Первый блок с картинкой
    .index__title-block.title-block
      // Главный контейнер слайдера
      .title-block__body.swiper
        // Контейнер самих слайдов
        .title-block__slider.swiper-wrapper
          each slide in main_slides
            .title-block__content.swiper-slide
              span.title-block__content-subtitle= slide.subtitle
              h1.title-block__content-title !{slide.title}
              if slide.button
                +more-btn-arrow(slide.button, "title-block__content-more")
        .title-block__navigation
          // Кнопки переключения слайдера
          .title-block__navigation-buttons
            button.title-block__navigation-button.title-block__navigation-prev prev
            .title-block__navigation-line
            button.title-block__navigation-button.title-block__navigation-next next
          // Номера слайдов
          .title-block__pages
            .title-block__pages-pagination
              .title-block__pages-item
                p.title-block__pages-number 01
                p.title-block__pages-text Просто
              .title-block__pages-item
                p.title-block__pages-number 02
                p.title-block__pages-text Быстро
              .title-block__pages-item
                p.title-block__pages-number 03
                p.title-block__pages-text Эффективно
            .title-block__pages-loading

block footer
  .index-page
    include ../partials/_footer.pug