doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="@css/index.min.css")
    title Document
  body
    include ../layouts/test
    
    img(src="@img/beautiful-shot-of-sheikh-zayed-grand-mosque-in-abu-dhabi-at-daytime.jpg", alt="")

    script(src="@js/app.min.js") 