extends ../layouts/master.pug

block header
  include ../partials/_header.pug

  -
    const laws_detail_nav_list = [
      {
        text: 'Superseded Article',
        data_type: 'js-scroll-btn',
        target: 'article-1',
        url: '#'
      },
      {
        text: 'Repeals',
        data_type: 'js-scroll-btn',
        target: 'article-2',
        url: '#'
      },
      {
        text: 'Publication and Commencement',
        data_type: 'js-scroll-btn',
        target: 'article-3',
        url: '#'
      }
    ]

block content
  main.info
    // Блок с заголовком
    .info__title.title-block
      ul.info__title-breadcrumbs.breadcrumbs
        li.breadcrumbs__item.breadcrumbs__item-prev
          a.breadcrumbs__item-text(href="/") Главная
          img.breadcrumbs__item-arrow.svg(src="@img/svg/arrow-right-thin.svg", alt="")
        li.breadcrumbs__item.breadcrumbs__item-current
          span.breadcrumbs__item-text FAQ / INFO о бизнесе
      //- +marquee("FAQ / INFO о бизнесе", "info__title-marquee")
      //- .info__title-masonry.masonry(data-type="img-bg", data-mask="linear-gradient(to top, #D2E2F0, #D2E2F0), linear-gradient(to top, #272727, #272727)")
      //-   img.masonry-bg(src="@img/info/closeup-shot-of-a-male-hand-holding-a-crystal-ball-with-the-reflection-of-the-city.jpg", alt="")
      //-   .masonry-bloks
      //-     .masonry-bloks__item.masonry-bloks__item-1
      //-       .masonry-bloks__item-content
      //-     .masonry-bloks__item.masonry-bloks__item-2
      //-       .masonry-bloks__item-content
      //-     .masonry-bloks__item.masonry-bloks__item-3
      //-       .masonry-bloks__item-content
      //-     .masonry-bloks__item.masonry-bloks__item-4
      //-       .masonry-bloks__item-content
      //-     .masonry-bloks__item.masonry-bloks__item-5
      //-       .masonry-bloks__item-content
      //-     .masonry-bloks__item.masonry-bloks__item-6
      //-       .masonry-bloks__item-content
      //-     .masonry-bloks__item.masonry-bloks__item-7
      //-       .masonry-bloks__item-content
      //-     .masonry-bloks__item.masonry-bloks__item-8
      //-       .masonry-bloks__item-content
      h1.title-block__title FAQ / INFO о бизнесе
      p.info__subtitle Актуальная справочная информация о жизни и работе в Арабских Эмиратах, о законодательстве и общественных нормах. Ответы на любые вопросы — на одной странице и простым языком

    // Тело страницы
    .info__body
      .info__header
        ul.tabs.info__tabs(data-type="js-tabs")
          .tabs-bg.info__tabs-bg
          li.tab.info__tab.current
            a(href="/info?page=laws").tab-btn.info__tab-btn Законы
          li.tab.info__tab
            a(href="/info?page=document-forms").tab-btn.info__tab-btn Формы документов
          li.tab.info__tab
            a(href="/info?page=state").tab-btn.info__tab-btn Государство
          li.tab.info__tab
            a(href="/info?page=FAQ").tab-btn.info__tab-btn FAQ
      .info__content

        // Законы
        include ../partials/info_pages/_laws.pug

        // Формы документов
        include ../partials/info_pages/_document-forms.pug

        // Государство
        include ../partials/info_pages/_state.pug

        // FAQ
        include ../partials/info_pages/_FAQ.pug

        // Детальная страница закона 1
        include ../partials/info_detail_pages/_laws-detail-1.pug

        // Детальная страница закона 2
        include ../partials/info_detail_pages/_laws-detail-2.pug

        #document-forms-detail-1.info__page
          h3.info__page-title Документ 1
          +button-back("Все документы", "#", "laws-detail__navigation-back info__page-link")

        #document-forms-detail-2.info__page
          h3.info__page-title Документ 2
          +button-back("Все документы", "#", "laws-detail__navigation-back info__page-link")

        #state-detail-1.info__page
          h3.info__page-title Государство 1
          +button-back("Назад", "#", "laws-detail__navigation-back info__page-link")

        #state-detail-2.info__page
          h3.info__page-title Государство 2
          +button-back("Назад", "#", "laws-detail__navigation-back info__page-link")

        #FAQ-detail-1.info__page
          h3.info__page-title FAQ 1
          +button-back("Назад", "#", "laws-detail__navigation-back info__page-link")

        #FAQ-detail-2.info__page
          h3.info__page-title FAQ 2
          +button-back("Назад", "#", "laws-detail__navigation-back info__page-link")

block footer
  include ../partials/_footer.pug