extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.laws-detail
    // Блок с заголовком
    .laws__title.title-block
      ul.laws__title-breadcrumbs.breadcrumbs
        li.breadcrumbs__item.breadcrumbs__item-prev
          a.breadcrumbs__item-text(href="/") Главная
          img.breadcrumbs__item-arrow.svg(src="@img/svg/arrow-right-thin.svg", alt="")
        li.breadcrumbs__item.breadcrumbs__item-prev
          a.breadcrumbs__item-text(href="/laws") Законы
          img.breadcrumbs__item-arrow.svg(src="@img/svg/arrow-right-thin.svg", alt="")
        li.breadcrumbs__item.breadcrumbs__item-current
          span.breadcrumbs__item-text Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али
      +marquee("Актуальные законы ОАЭ", "laws__title-marquee")
      .laws__title-masonry.masonry(data-type="img-bg", data-mask="linear-gradient(to top, #D2E2F0, #D2E2F0), linear-gradient(to top, #272727, #272727)")
        img.masonry-bg(src="@img/laws/darcey-beau-vtK31JoeAFk-unsplash.jpg", alt="")
        .masonry-bloks
          .masonry-bloks__item.masonry-bloks__item-1
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-2
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-3
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-4
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-5
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-6
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-7
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-8
            .masonry-bloks__item-content
    .laws-detail__body
      .laws-detail__title
        h2.laws-detail__title-name Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али
        span.laws-detail__title-year 2021
      .laws-detail__block
        .laws-detail__navigation
          button.laws-detail__navigation-download.navigation-download
            .navigation-download__text Скачать документ
            img.navigation-download__img.svg(src="@img/svg/download.svg", alt="")
          +button-back("Все законы", "/laws", "laws-detail__navigation-back")
        .laws-detail__content
          h3.law-title.center.main Law No. (19) of 2021 #[br] Amending #[br] Law No. (2) of 1986 Concerning Business Activities in the Jebel Ali Free Zone#[span.super 1]
          .law-line.law-line-center
          p.law-text.wide
            | #[span.bold We, Mohammed bin Rashid Al Maktoum, Ruler of Dubai,] #[br]
            | After perusal of: #[br]
            | Law No. (2) of 1986 Concerning Business Activities in the Jebel Ali Free Zone and its amendments (the “#[span.bold Original Law]”), #[br]
            | #[span.bold Do hereby issue this Law.]
          h4.law-title.center
            | Superseded Article #[br]
            | Article (1)
          p.law-text.wide
            | Article (8) of the Original Law is hereby superseded by the following: #[br]
            | #[span.bold Article (8)]
          p.law-text Without prejudice to the tax legislation in force in the United Arab Emirates, companies, establishments, individuals, and workers operating in the Free Zone will be subject to zero (0) tax rate for fifty (50) years from the effective date of this Law. The said period will be renewable for the same period pursuant to a resolution of the Ruler. The zero (0) tax rate will apply to:
          ul.law-list
            li 1. all taxes, including income tax, in relation to their operations within the Free Zone; and
            li 2. taxes imposed on the transfer of assets, profits, salaries, or wages to any party outside of the Free Zone.
          .law-line.law-line-left
          p.law-text.italic
            | ©2021 The Supreme Legislation Committee in the Emirate of Dubai #[br]
            | #[span.super 1]Every effort has been made to produce an accurate and complete English version of this legislation. However, for the purpose of its interpretation and application, reference must be made to the original Arabic text. In case of conflict, the Arabic text will prevail.
          p.law-text.italic Law No. (19) of 2021 Amending Law No. (2) of 1986 Concerning Business Activities in the Jebel Ali Free Zone
          h4.law-title.center
            | Repeals #[br]
            | Article (2)
          p.law-text Any provision in any other legislation is hereby repealed to the extent that it contradicts the provisions of this Law.
          h4.law-title.center
            | Publication and Commencement #[br]
            | Article (3)
          p.law-text This Law will be published in the Official Gazette and will come into force on the day on which it is published.
          p.law-text.bold.wide
            | Mohammed bin Rashid Al Maktoum #[br]
            | Ruler of Dubai
          p.law-text.right Issued in Dubai on 14 September 2021
          p.law-text.right Corresponding to 7 Safar 1443 A.H.

block footer
  include ../partials/_footer.pug