extends ../layouts/master.pug

block header
  include ../partials/_header.pug

  -
    const laws_nav_list = [
      {
        text: 'Вопросы свободных зон и зон особого развития',
        url: '#',
        active: true,
      },
      {
        text: 'Дорога и транспорт',
        url: '#',
        active: false,
      },
      {
        text: 'Здравоохранение, медицинские вопросы и общественная безопасность',
        url: '#',
        active: false,
      },
      {
        text: 'Кадровые ресурсы для гос структур',
        url: '#',
        active: false,
      },
      {
        text: 'Недвижимость',
        url: '#',
        active: false,
      },
    ]

  -
    const laws_filter_years = [
      {
        text: "2015"
      },
      {
        text: "2016"
      },
      {
        text: "2017"
      },
      {
        text: "2018"
      },
      {
        text: "2019"
      },
      {
        text: "2020"
      },
      {
        text: "2021"
      },
      {
        text: "2022"
      },
      {
        text: "2023"
      },
    ]
  
  -
    const laws_result = {
      title: {
        description: 'Описание',
        category: 'Отрасль',
        year: 'Год',
      },
      items: [
        {
          description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          category: 'Вопросы свободных зон и зон особого развития',
          year: '2021',
        },
        {
          description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          category: 'Вопросы свободных зон и зон особого развития',
          year: '2010',
        },
        {
          description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          category: 'Вопросы свободных зон и зон особого развития',
          year: '2018',
        },
        {
          description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          category: 'Вопросы свободных зон и зон особого развития',
          year: '2021',
        },
        {
          description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          category: 'Вопросы свободных зон и зон особого развития',
          year: '2010',
        },
        {
          description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          category: 'Вопросы свободных зон и зон особого развития',
          year: '2018',
        }
      ]
    }
  
block content
  main.laws
    // Блок с заголовком
    .laws__title.title-block
      ul.laws__title-breadcrumbs.breadcrumbs
        li.breadcrumbs__item.breadcrumbs__item-prev
          a.breadcrumbs__item-text(href="/") Главная
          img.breadcrumbs__item-arrow.svg(src="@img/svg/arrow-right-thin.svg", alt="")
        li.breadcrumbs__item.breadcrumbs__item-current
          span.breadcrumbs__item-text Законы
      +marquee("Актуальные законы ОАЭ", "laws__title-marquee")
      .laws__title-masonry.masonry(data-type="img-bg", data-mask="linear-gradient(to top, #D2E2F0, #D2E2F0), linear-gradient(to top, #272727, #272727)")
        img.masonry-bg(src="@img/laws/darcey-beau-vtK31JoeAFk-unsplash.jpg", alt="")
        .masonry-bloks
          .masonry-bloks__item.masonry-bloks__item-1
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-2
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-3
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-4
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-5
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-6
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-7
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-8
            .masonry-bloks__item-content

    // Тело страницы
    .laws__body
      .laws-content
        +nav-bar(laws_nav_list, "laws-content__navigation")
        .laws-content__block.laws-block
          .laws-filters
            form.laws-filters__form(role="search")
              .search.transparent
                input.search-input(type="search", name="search" placeholder="Поиск по законам", minlength="4")
                button.search-btn
                  img.search-btn__img.svg(src="@img/svg/search.svg", alt="Поиск")
              .laws-filters__filter
                +drop-down("Отрасль", "filter", laws_nav_list)
              .laws-filters__filter
                +drop-down("Год", "filter", laws_filter_years)
              button.laws-filters__submit(type="submit") Поиск
          p.laws-result_count Найдено записей: #[span 3]
          +result(laws_result, "laws-result")
          +pagination("laws-pagination")

block footer
  include ../partials/_footer.pug