extends ../layouts/master.pug

block header
  include ../partials/_header.pug

  -
    const search_page_result = {
      title: {
        description: 'Описание',
        category: 'Категория',
        year: 'Дата',
      },
      items: [
        {
          description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          category: 'Закон',
          year: '14.09.2021',
        },
        {
          description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          category: 'Закон',
          year: '04.02.2010',
        },
        {
          description: 'Виды компаний',
          category: 'Справка',
          year: '',
        },
        {
          description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          category: 'Закон',
          year: '19.09.2018',
        },
        {
          description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          category: 'Закон',
          year: '14.09.2021',
        },
        {
          description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          category: 'Закон',
          year: '04.02.2010',
        },
        {
          description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          category: 'Закон',
          year: '19.09.2018',
        },
        {
          description: 'Государственное и политическое устройство',
          category: 'Справка',
          year: '',
        },
        {
          description: 'Преимущества свободных зон',
          category: 'Справка',
          year: '',
        },
        {
          description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          category: 'Закон',
          year: '19.09.2018',
        },
        {
          description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          category: 'Закон',
          year: '14.09.2021',
        },
        {
          description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          category: 'Закон',
          year: '04.02.2010',
        },
        {
          description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          category: 'Закон',
          year: '19.09.2018',
        },
        {
          description: 'Оншорные компании',
          category: 'Справка',
          year: '',
        }
      ]
    }

block content
  main.search-page
    // Блок с заголовком
    .search-page__title.title-block
      ul.search-page__title-breadcrumbs.breadcrumbs
        li.breadcrumbs__item.breadcrumbs__item-prev
          a.breadcrumbs__item-text(href="/") Главная
          img.breadcrumbs__item-arrow.svg(src="@img/svg/arrow-right-thin.svg", alt="")
        li.breadcrumbs__item.breadcrumbs__item-current
          span.breadcrumbs__item-text Поиск по сайту
      +marquee("Поиск по сайту", "search-page__title-marquee")
      .search-page__title-masonry.masonry(data-type="img-bg", data-mask="linear-gradient(to top, #D2E2F0, #D2E2F0), linear-gradient(to top, #272727, #272727)")
        img.masonry-bg(src="@img/search/warren-wong-fNUNt9w3m-Q-unsplash.jpg", alt="")
        .masonry-bloks
          .masonry-bloks__item.masonry-bloks__item-1
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-2
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-3
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-4
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-5
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-6
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-7
            .masonry-bloks__item-content
          .masonry-bloks__item.masonry-bloks__item-8
            .masonry-bloks__item-content
    .search-page__body
      .search-page__body-wrapper
        .search-page__settings
          .search-page__search-block
            +search("Поиск по сайту", "search-page__search")
            .search-page__search-history.serch-history.swiper
              .serch-history__items.swiper-wrapper
            p.search-page__search-count Найдено записей: #[span 10]
          .search-page__filters
            +datepicker("Дата", "search-page__filters-date", "search-page-datepicker")
            .search-page__filters-items
              label.search-page__filters-item Законы
                input(type="checkbox", name="laws")
              label.search-page__filters-item Справка
                input(type="checkbox", name="info")
        .search-page__content
          +result(search_page_result, "search-page__content-result")
          +pagination("search-page__content-pagination")

block footer
  include ../partials/_footer.pug