mixin drop-down(text, className, elementsList)
  button.drop-down(class= className ? className : "")
    p.drop-down__text= text
    .drop-down__img
      if className
        img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
      else
        img.svg(src="@img/svg/drop-down.svg", alt="")
  if elementsList
    ul.drop-down__list
      each element in elementsList
        li.drop-down__list-item
          button= element.text

mixin more-btn-arrow(text, className)
  a(href="#").more-btn-arrow(class= className ? className : "")
    p.more-btn-arrow__text= text
    img.more-btn-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")