#document-forms.info__page
  h2.info__page-title Формы документов
  a.info__page-link(href="/info?page=document-forms&detail=document-forms-detail-1") Документ 1
  a.info__page-link(href="/info?page=document-forms&detail=document-forms-detail-2") Документ 2