-
  const FAQ_nav_list = [
    {
      text: 'Виды компаний',
      data_type: 'js-scroll-btn',
      target: 'FAQ-companies',
      url: '#',
    },
    {
      text: 'Открытие бизнеса',
      data_type: 'js-scroll-btn',
      target: 'FAQ-business',
      url: '#',
    },
    {
      text: 'Виды лицензий',
      data_type: 'js-scroll-btn',
      target: 'FAQ-licenses',
      url: '#',
    },
  ]

-
  const FAQ_companies_forms = [
    {
      text: 'Limited Liability Company - компания с ограниченной ответственностью',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
    {
      text: 'Private Joint Stock Companies – частная акционерная компания',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
    {
      text: 'Public Joint Stock Companies – публичная акционерная компания',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
    {
      text: 'Joint Liability Company – общество с совместной ответственностью',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
    {
      text: 'Limited Partnerships (or Simple Commandite Companies) – простое коммандитное товарищество',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
  ]

#FAQ.info__page.FAQ
  .info__page-content
    // Меню навигации
    .info__page-content__navigation(data-type="js-sticky-nav-bar")
      +accordion(FAQ_nav_list, "nav-bar")

    // Контент
    .info__page-content__block.FAQ-block
      // Виды компаний
      .FAQ-companies(data-type="js-anchor-block", data-ancor="FAQ-companies")
        h2.info__page-content__block-title Виды компаний

        .info__page-cards.FAQ-companies__cards
          a.info__page-card(href="#")
            h4.info__page-card-title Local (Main Land) Companies – Местные компании
            p.info__page-card-description Местные (материковые, оншорные) компании регистрируются на материковой части ОАЭ (не в свободных зонах) и предназначены для полномасштабной деятельности в ОАЭ. Материковые компании могут осуществлять свою деятельность как на территории ОАЭ, так и за ее пределами.#[br]С 1 июня 2021 года местные компании в ОАЭ могут полностью принадлежать иностранцам.
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          a.info__page-card(href="#")
            h4.info__page-card-title Companies in FTZ – (Оншорные компании)
            p.info__page-card-description Оншорные компании, деятельность в которых ограничена свободной экономической зоной, в которой они зарегистрированы. Такие фирмы могут на 100% принадлежать иностранным гражданам, вести международную деятельность, арендовать помещения, расположенные в СЭЗ, претендовать на определенное количество резидентских виз (в зависимости от рабочей площади) и т.д. Главный недостаток такого типа предприятий – невозможность выводить свой бизнес в другие регионы ОАЭ за пределы СЭЗ.
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          a.info__page-card(href="#")
            h4.info__page-card-title Offshore companies – (Офшорные компании)
            p.info__page-card-description Оффшорные компании, которые, получая юридический адрес в СЭЗ ОАЭ, не могут вести свою деятельность даже в ее пределах, не говоря уже о других территориях Арабских Эмиратов. Такой тип компании чаще всего выбирают те, кто имеет налаженный бизнес у себя дома, но стремится сократить налоговые расходы и получить возможность открыть банковских счет в ОАЭ. Ни арендовать помещения, ни рассчитывать на резидентские визы владельцы таких предприятий не могут.
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")

        .FAQ-companies-forms
          h3.FAQ-companies-forms__title В соответствии с Федеральным Законом ОАЭ «О коммерческих компаниях», различают следующие организационно-правовые формы коммерческих компаний:
          +accordion_content(FAQ_companies_forms, 'FAQ-companies-forms__accordion')