-
  const FAQ_nav_list = [
    {
      text: 'Виды компаний',
      data_type: 'js-scroll-btn',
      target: 'FAQ-companies',
      url: '#',
    },
    {
      text: 'Открытие бизнеса',
      data_type: 'js-scroll-btn',
      target: 'FAQ-business',
      url: '#',
    },
    {
      text: 'Виды лицензий',
      data_type: 'js-scroll-btn',
      target: 'FAQ-licenses',
      url: '#',
    },
    {
      text: 'Курсы валют',
      data_type: 'js-scroll-btn',
      target: 'FAQ-exchange',
      url: '#',
    },
  ]

-
  const FAQ_companies_forms = [
    {
      text: 'Limited Liability Company - компания с ограниченной ответственностью',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
    {
      text: 'Private Joint Stock Companies – частная акционерная компания',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
    {
      text: 'Public Joint Stock Companies – публичная акционерная компания',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
    {
      text: 'Joint Liability Company – общество с совместной ответственностью',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
    {
      text: 'Limited Partnerships (or Simple Commandite Companies) – простое коммандитное товарищество',
      content:
      '<p class="accordion-item__content-item">'+
        'Публичное акционерное общество в ОАЭ – это компания, капитал которой разделен на равные и оборотные акции. Учредители подписываются на часть таких акций, а остальные акции предлагаются для публичной подписки. Учредителями публичного акционерного общества могут быть не менее пяти лиц (за исключением случаев преобразования общества иных организационно-правовых форм в публичное общество).'+
      '</p>'
    },
  ]

-
  const FAQ_licenses = [
    {
      text: 'Промышленная лицензия',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Коммерческая лицензия',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Профессиональная бизнес-лицензия',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Лицензия на туристический бизнес',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Лицензия розничного продавца',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Медицинская лицензия',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Лицензия на логистику, грузы или транспортировку',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Лицензия частных учебных заведений',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Техническая лицензия',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Лицензия для СМИ',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Лицензия фрилансера',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Лицензия для электронной торговли в Дубае',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Сельскохозяйственная лицензия в Дубае',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
    {
      text: 'Бизнес-лицензия на ремесло в Дубае',
      content:
      '<p class="accordion-item__content-item">'+
        'Лицам, желающим начать бизнес по интересующему их предмету выдается профессиональная лицензия на ведение бизнеса. Образовательная история и интеллектуальные таланты человека полезны при получении этой лицензии, поскольку все эти факторы учитываются при выдаче лицензии. Фирма по гражданским правам может быть создана, если у компании более одного владельца.'+
      '</p>'+
      '<ul class="accordion-item__content-list content-list">'+
        '<p class="content-list__title">'+
          'В эту категорию входят следующие компании:'+
        '</p>'+

        '<li class="content-list__item">'+
          'Консультации по страхованию'+
        '</li>'+
        '<li class="content-list__item">'+
          'Компьютерная помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консалтинг в области информационных технологий'+
        '</li>'+
        '<li class="content-list__item">'+
          'Бухгалтерские услуги'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультационные услуги в области охраны окружающей среды'+
        '</li>'+
        '<li class="content-list__item">'+
          'Маркетинговая помощь'+
        '</li>'+
        '<li class="content-list__item">'+
          'Консультирование по вопросам управления'+
        '</li>'+
      '</ul>'
    },
  ]

-
  const currency_left = [
    {
      first_level: 'Дирхам ОАЭ',
      name: 'currency_left',
      checked: true,
      country: 'emirates'
    },
    {
      first_level: 'Китайский юань',
      name: 'currency_left',
      country: 'china'
    },
    {
      first_level: 'Доллар США',
      name: 'currency_left',
      country: 'usa'
    },
    {
      first_level: 'Евро',
      name: 'currency_left',
      country: 'europ'
    },
    {
      first_level: 'Российский рубль',
      name: 'currency_left',
      country: 'russia'
    },
    {
      first_level: 'Фунт стерлингов',
      name: 'currency_left',
      country: 'britain'
    },
  ]

-
  const currency_right = [
    {
      first_level: 'Дирхам ОАЭ',
      name: 'currency_right',
      country: 'emirates'
    },
    {
      first_level: 'Китайский юань',
      name: 'currency_right',
      country: 'china'
    },
    {
      first_level: 'Доллар США',
      name: 'currency_right',
      country: 'usa'
    },
    {
      first_level: 'Евро',
      name: 'currency_right',
      country: 'europ'
    },
    {
      first_level: 'Российский рубль',
      name: 'currency_right',
      checked: true,
      country: 'russia'
    },
    {
      first_level: 'Фунт стерлингов',
      name: 'currency_right',
      country: 'britain'
    },
  ]

-
  const currencies_list = [
    {
      title: 'AED',
      subtitle: 'Дирхам ОАЭ',
      img: '@img/flags/emirates.png',
      rate: '1',
      country: 'emirates'
    },
    {
      title: 'CNY',
      subtitle: 'Китайский юань',
      img: '@img/flags/china.png',
      rate: '1,94',
      country: 'china'
    },
    {
      title: 'Usd',
      subtitle: 'Доллар США',
      img: '@img/flags/usa.png',
      rate: '0,27',
      country: 'usa'
    },
    {
      title: 'EUR',
      subtitle: 'Евро',
      img: '@img/flags/europ.png',
      rate: '0,25',
      country: 'europ'
    },
    {
      title: 'Rub',
      subtitle: 'Российский рубль',
      img: '@img/flags/russia.png',
      rate: '22,51',
      country: 'russia'
    },
    {
      title: 'GBP',
      subtitle: 'Фунт стерлингов',
      img: '@img/flags/britain.png',
      rate: '0,22',
      country: 'britain'
    },
  ]

#FAQ.info__page.FAQ
  .info__page-content
    // Меню навигации
    .info__page-content__navigation(data-type="js-sticky-nav-bar")
      +accordion(FAQ_nav_list, "nav-bar")

    // Контент
    .info__page-content__block.FAQ-block
      // Виды компаний
      .FAQ-companies(data-type="js-anchor-block", data-ancor="FAQ-companies")
        h2.info__page-content__block-title Виды компаний

        .info__page-cards.FAQ-companies__cards
          a.info__page-card(href="#")
            h4.info__page-card-title Local (Main Land) Companies – Местные компании
            p.info__page-card-description Местные (материковые, оншорные) компании регистрируются на материковой части ОАЭ (не в свободных зонах) и предназначены для полномасштабной деятельности в ОАЭ. Материковые компании могут осуществлять свою деятельность как на территории ОАЭ, так и за ее пределами.#[br]С 1 июня 2021 года местные компании в ОАЭ могут полностью принадлежать иностранцам.
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          a.info__page-card(href="#")
            h4.info__page-card-title Companies in FTZ – (Оншорные компании)
            p.info__page-card-description Оншорные компании, деятельность в которых ограничена свободной экономической зоной, в которой они зарегистрированы. Такие фирмы могут на 100% принадлежать иностранным гражданам, вести международную деятельность, арендовать помещения, расположенные в СЭЗ, претендовать на определенное количество резидентских виз (в зависимости от рабочей площади) и т.д. Главный недостаток такого типа предприятий – невозможность выводить свой бизнес в другие регионы ОАЭ за пределы СЭЗ.
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          a.info__page-card(href="#")
            h4.info__page-card-title Offshore companies – (Офшорные компании)
            p.info__page-card-description Оффшорные компании, которые, получая юридический адрес в СЭЗ ОАЭ, не могут вести свою деятельность даже в ее пределах, не говоря уже о других территориях Арабских Эмиратов. Такой тип компании чаще всего выбирают те, кто имеет налаженный бизнес у себя дома, но стремится сократить налоговые расходы и получить возможность открыть банковских счет в ОАЭ. Ни арендовать помещения, ни рассчитывать на резидентские визы владельцы таких предприятий не могут.
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")

        .FAQ-companies-forms
          h3.FAQ-companies-forms__title В соответствии с Федеральным Законом ОАЭ «О коммерческих компаниях», различают следующие организационно-правовые формы коммерческих компаний:
          +accordion_content(FAQ_companies_forms, 'FAQ-companies-forms__accordion')

      // Открытие бизнеса
      .FAQ-business(data-type="js-anchor-block", data-ancor="FAQ-business")
        h2.info__page-content__block-title Открытие бизнеса
        .FAQ-business__list-wrapper
          h4.FAQ-business__list-title Шаги по открытию бизнеса на материковой части ОАЭ
          ol.FAQ-business__list
            li.FAQ-business__list-item Определить характер вашей предпринимательской деятельности
            li.FAQ-business__list-item Определить юридическую структуру компании
            li.FAQ-business__list-item Регистрация фирменного наименования
            li.FAQ-business__list-item Подача заявки на первоначальное одобрение
            li.FAQ-business__list-item Создание МОА
            li.FAQ-business__list-item Выбрать местоположение бизнеса
            li.FAQ-business__list-item Подать заявку на получение дополнительных правительственных разрешений
            li.FAQ-business__list-item Подать необходимые документы
            li.FAQ-business__list-item Оплата сборов и получение лицензии
            li.FAQ-business__list-item Регистрация компании на материковой части ОАЭ

          h4.FAQ-business__list-title Шаги по открытию бизнеса на свободной экономической зоне
          ol.FAQ-business__list
            li.FAQ-business__list-item Определить характер вашей предпринимательской деятельности
            li.FAQ-business__list-item Определить юридическую структуру компании
            li.FAQ-business__list-item Регистрация фирменного наименования
            li.FAQ-business__list-item Выбрать местоположение бизнеса
            li.FAQ-business__list-item Получение первоначального одобрения
            li.FAQ-business__list-item Регистрация компании и оплата пошлин

      // Виды лицензий
      .FAQ-licenses(data-type="js-anchor-block", data-ancor="FAQ-licenses")
        h2.info__page-content__block-title Виды лицензий
        +accordion_content(FAQ_licenses, 'FAQ-licenses__accordion')

      // Курсы валют
      .FAQ-exchange(data-type="js-anchor-block", data-ancor="FAQ-exchange")
        .FAQ-exchange__header
          .FAQ-exchange__header-left
            h2.FAQ-exchange__header-title Курсы валют
            p.FAQ-exchange__header-subtitle Собраны из различных коммерческих источников и банков
          .FAQ-exchange__header-right
            p.FAQ-exchange__header-update Обновлено 18.04.2023 11:40

        .FAQ-exchange__content
          .calculator.FAQ-exchange__calculator
            .calculator-item.FAQ-exchange__calculator-item(data-type="calculator-source", data-country="emirates")
              .calculator-item__flag
                img.calculator-item__flag-img(src="@img/flags/emirates.png", alt="AED")
              .calculator-item__value
                input.calculator-item__value-input(type="text", name="currency", value="1")
              .calculator-item__currency
                +drop-down("Дирхам ОАЭ", "", currency_left)
            .calculator-item.FAQ-exchange__calculator-item(data-type="calculator-target")
              .calculator-item__flag
                img.calculator-item__flag-img(src="@img/flags/russia.png", alt="RUB")
              span.calculator-item__value 2223,80
              .calculator-item__currency
                +drop-down("Российский рубль", "", currency_right)
            button.calculator-change
              img.svg.calculator-change__img(src="@img/svg/reverse.svg", alt="Reverse")

          .currencies.FAQ-exchange__currencies
            .currencies-header
              span.currencies-header__text Валюта
              span.currencies-header__text Стоимость
            ul.currencies-list
              each currency in currencies_list
                li.currencies-item(class= currency.country, data-country= currency.country)
                  .currencies-item__top
                    .currencies-item__flag
                      img.currencies-item__flag-img(src= currency.img, alt= currency.title)
                    span.currencies-item__title= currency.title
                    span.currencies-item__value 100,00
                  span.currencies-item__subtitle= currency.subtitle