-
  const laws_nav_list = [
    {
      text: 'Вопросы свободных зон и зон особого развития',
      url: '#',
      active: true,
      items: [
        {
          title: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          url: 'info?page=laws&detail=laws-detail-1'
        },
        {
          title: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          url: 'info?page=laws&detail=laws-detail-2'
        },
        {
          title: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          url: 'info?page=laws&detail=laws-detail-2'
        },
      ]
    },
    {
      text: 'Дорога и транспорт',
      url: '#',
      active: false,
      items: [
        {
          title: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          url: 'info?page=laws&detail=laws-detail-1'
        },
        {
          title: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          url: 'info?page=laws&detail=laws-detail-2'
        },
        {
          title: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          url: 'info?page=laws&detail=laws-detail-2'
        },
      ]
    },
    {
      text: 'Здравоохранение, медицинские вопросы и общественная безопасность',
      url: '#',
      active: false,
      items: [
        {
          title: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          url: 'info?page=laws&detail=laws-detail-1'
        },
        {
          title: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          url: 'info?page=laws&detail=laws-detail-2'
        },
        {
          title: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          url: 'info?page=laws&detail=laws-detail-2'
        },
      ]
    },
    {
      text: 'Кадровые ресурсы для гос структур',
      url: '#',
      active: false,
      items: [
        {
          title: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          url: 'info?page=laws&detail=laws-detail-1'
        },
        {
          title: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          url: 'info?page=laws&detail=laws-detail-2'
        },
        {
          title: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          url: 'info?page=laws&detail=laws-detail-2'
        },
      ]
    },
    {
      text: 'Недвижимость',
      url: '#',
      active: false,
      items: [
        {
          title: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
          url: 'info?page=laws&detail=laws-detail-1'
        },
        {
          title: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
          url: 'info?page=laws&detail=laws-detail-2'
        },
        {
          title: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
          url: 'info?page=laws&detail=laws-detail-2'
        },
      ]
    },
  ]

-
  const territory_dropdown = [
    {
      first_level: 'Абу-Даби',
      name: 'territory',
      second_level: [
        {text: 'Abu Dhabi Global Market (ADGM)'},
        {text: 'TwoFour54 Media and Entertainment Hub'},
        {text: 'Masdar City Free Zone'},
        {text: 'Khalifa Industrial Zone Abu Dhabi (KIZAD)'}
      ]
    },
    {
      first_level: 'Аджман',
      name: 'territory',
      second_level: [
        {text: 'Ajman Media City (AMC)'},
        {text: 'Ajman Free Zone (AFZA)'}
      ]
    },
    {
      first_level: 'Эль-Фуджайра',
      name: 'territory',
      second_level: [
        {text: 'Fujairah Free Zone (FFZ)'},
        {text: 'International Free Zone Authority (IFZA)'},
        {text: 'Fujаirah Creative City (FCC)'}
      ]
    },
    {
      first_level: 'Шарджа',
      name: 'territory',
      second_level: [
        {text: 'Sharjah Airport Free Zone (SAIF)'},
        {text: 'Sharjah Publishing Free Zone (SPFZ)'},
        {text: 'Hamriyah Free Zone (HAFZA)'}
      ]
    },
    {
      first_level: 'Дубай',
      name: 'territory',
      second_level: [
        {text: 'Jebel Ali Free Zone, Jafta, в Дубае, ОАЭ'},
        {text: 'Dubai South Free Zone / DWC'},
        {text: 'Meydan Free Zone (MFZ)'},
        {text: 'Dubai Airport Free Zone (DAFZA)'},
        {text: 'Dubai Internet City (DIC)'},
        {text: 'Dubai Technology Entrepreneur Campus (DTEC)'},
        {text: 'DMCC Dubai'},
        {text: 'Dubai International Financial Centre (DIFC)'},
        {text: 'Dubai Media City (DMC)'},
        {text: 'Dubai Knowledge Park (DKP)'},
        {text: 'Dubai HealthCare City (DHCC)'},
        {text: 'Dubai Auto Zone (DAZ)'},
        {text: 'Dubai Silicon Oasis (DSO)'},
        {text: 'Dubai Production City (DPC)'},
        {text: 'Dubai World Trade Center (DWTC)'},
        {text: 'Dubai Outsource City (DOC)'},
        {text: 'Dubai Gold and Diamond Park (DGDP)'},
        {text: 'Dubai Scienсe Park (DSP)'},
        {text: 'Dubai International Academic City (DIAC)'},
        {text: 'Dubai Design District D3'},
        {text: 'Dubai International Humanitarian City (DIHC)'}
      ]
    },
    {
      first_level: 'Рас-эль-Хайма',
      name: 'territory',
      second_level: [
        {text: 'RAK Investment Authority (RAKIA)'},
        {text: 'Ras Al Khaimah Economic Zone (RAKEZ)'},
        {text: 'RAK Free Trade Zone (RAK FTZ)'}
      ]
    },
    {
      first_level: 'Умм-эль-Кайвайн',
      name: 'territory',
      second_level: [
        {text: 'Umm Al Quwain Free Trade Zone (UAQ FTZ)'}
      ]
    },
  ]

-
  const laws_result = {
    title: {
      description: 'Название',
      category: 'Тематика',
      year: 'Территория',
    },
    items: [
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: 'Дубаи',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон No (19) от 2021 года о внесении изменений в Закон No (2) 1986 года о предпринимательской деятельности в свободной зоне Джебель Али',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2021',
        url: 'info?page=laws&detail=laws-detail-1'
      },
      {
        description: 'Закон № (6) от 2010 года, отменяющий закон № (19) от 2006 года, касающийся подписания и издания законов о Международном финансовом центре Дубая',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2010',
        url: 'info?page=laws&detail=laws-detail-2'
      },
      {
        description: 'Закон № (12) от 2018 года, отменяющий закон № (4) от 2001 года о свободных зонах',
        category: 'Вопросы свободных зон и зон особого развития',
        year: '2018',
        url: 'info?page=laws&detail=laws-detail-2'
      },
    ]
  }

#laws.info__page.laws
  .info__page-content
    .info__page-content__navigation(data-type="js-sticky-nav-bar")
      +accordion(laws_nav_list, "nav-bar", "info__page-link")
    .info__page-content__block.laws-block
      .laws-filters
        form.laws-filters__form(role="search")
          .search.transparent
            input.search-input(type="search", name="search" placeholder="Поиск по законам", minlength="4")
            button.search-btn
              img.search-btn__img.svg(src="@img/svg/search.svg", alt="Поиск")
          .laws-filters__filter
            +drop-down("Территория", "filter", territory_dropdown, 'multiple')
          button.laws-filters__submit(type="submit") Поиск
      p.laws-result_count Найдено записей: #[span 3]
      +result(laws_result, "laws-result", "info__page-link", "laws-pagination", "10")
      +pagination("laws-pagination", "laws-pagination")