-
  const state_contacts = [
    {
      text: 'Министерство сельского хозяйства и рыболовства',
      content:
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Телефон:</p>'+
        '<div class="content-item__block">'+
          '<a href="tel:+971-2-6265000" class="content-item__block-item content-item__block-item-link">+971-2-6265000</a>'+
          '<a href="tel:+971-4-2954000" class="content-item__block-item content-item__block-item-link">+971-4-2954000</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Сайт:</p>'+
        '<div class="content-item__block">'+
          '<a href="https://www.moec.gov.ae/en/home" target="_blank" class="content-item__block-item content-item__block-item-link">www.economy.ae</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">E-mail:</p>'+
        '<div class="content-item__block">'+
          '<a href="mailto:economy@emirates.net.ae" class="content-item__block-item content-item__block-item-link">economy@emirates.net.ae</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Министр:</p>'+
        '<div class="content-item__block">'+
          '<p class="content-item__block-item">Его Превосходительство султан бен Саид Аль Мансури</p>'+
        '</div>'+
      '</div>'
    },
    {
      text: 'Министерство по делам кабинета министров',
      content:
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Телефон:</p>'+
        '<div class="content-item__block">'+
          '<a href="tel:+971-2-6265000" class="content-item__block-item content-item__block-item-link">+971-2-6265000</a>'+
          '<a href="tel:+971-4-2954000" class="content-item__block-item content-item__block-item-link">+971-4-2954000</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Сайт:</p>'+
        '<div class="content-item__block">'+
          '<a href="https://www.moec.gov.ae/en/home" target="_blank" class="content-item__block-item content-item__block-item-link">www.economy.ae</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">E-mail:</p>'+
        '<div class="content-item__block">'+
          '<a href="mailto:economy@emirates.net.ae" class="content-item__block-item content-item__block-item-link">economy@emirates.net.ae</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Министр:</p>'+
        '<div class="content-item__block">'+
          '<p class="content-item__block-item">Его Превосходительство султан бен Саид Аль Мансури</p>'+
        '</div>'+
      '</div>'
    },
    {
      text: 'Министерство экономики',
      content:
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Телефон:</p>'+
        '<div class="content-item__block">'+
          '<a href="tel:+971-2-6265000" class="content-item__block-item content-item__block-item-link">+971-2-6265000</a>'+
          '<a href="tel:+971-4-2954000" class="content-item__block-item content-item__block-item-link">+971-4-2954000</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Сайт:</p>'+
        '<div class="content-item__block">'+
          '<a href="https://www.moec.gov.ae/en/home" target="_blank" class="content-item__block-item content-item__block-item-link">www.economy.ae</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">E-mail:</p>'+
        '<div class="content-item__block">'+
          '<a href="mailto:economy@emirates.net.ae" class="content-item__block-item content-item__block-item-link">economy@emirates.net.ae</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Министр:</p>'+
        '<div class="content-item__block">'+
          '<p class="content-item__block-item">Его Превосходительство султан бен Саид Аль Мансури</p>'+
        '</div>'+
      '</div>'
    },
    {
      text: 'Министерство культуры по делам молодежи и общественного развития',
      content:
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Телефон:</p>'+
        '<div class="content-item__block">'+
          '<a href="tel:+971-2-6265000" class="content-item__block-item content-item__block-item-link">+971-2-6265000</a>'+
          '<a href="tel:+971-4-2954000" class="content-item__block-item content-item__block-item-link">+971-4-2954000</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Сайт:</p>'+
        '<div class="content-item__block">'+
          '<a href="https://www.moec.gov.ae/en/home" target="_blank" class="content-item__block-item content-item__block-item-link">www.economy.ae</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">E-mail:</p>'+
        '<div class="content-item__block">'+
          '<a href="mailto:economy@emirates.net.ae" class="content-item__block-item content-item__block-item-link">economy@emirates.net.ae</a>'+
        '</div>'+
      '</div>'+
      '<div class="accordion-item__content-item">'+
        '<p class="content-item__title">Министр:</p>'+
        '<div class="content-item__block">'+
          '<p class="content-item__block-item">Его Превосходительство султан бен Саид Аль Мансури</p>'+
        '</div>'+
      '</div>'
    },
  ]

-
  const state_emirates = [
    {
      first_level: 'Эмират',
      name: 'emirate',
    },
    {
      first_level: 'Абу-Даби',
      name: 'emirate',
    },
    {
      first_level: 'Аджман',
      name: 'emirate',
    },
    {
      first_level: 'Эль-Фуджайра',
      name: 'emirate',
    },
    {
      first_level: 'Шарджа',
      name: 'emirate',
    },
    {
      first_level: 'Дубай',
      name: 'emirate',
    },
    {
      first_level: 'Рас-эль-Хайма',
      name: 'emirate',
    },
    {
      first_level: 'Умм-эль-Кайвайн',
      name: 'emirate',
    },
  ]

-
  const state_freeZones_categories = [
    {
      first_level: 'Категория',
      name: 'freeZones_categorie',
    },
    {
      first_level: 'Образование',
      name: 'freeZones_categorie',
    },
    {
      first_level: 'Медицина',
      name: 'freeZones_categorie',
    },
    {
      first_level: 'Наука',
      name: 'freeZones_categorie',
    },
    {
      first_level: 'Кино',
      name: 'freeZones_categorie',
    },
    {
      first_level: 'Информационные технологии',
      name: 'freeZones_categorie',
    },
  ]

-
  const freeZones_items = [
    {
      title: 'Dubai Academic City',
      description: 'Полностью посвящен высшему образованию, в нём размещаются ключевые мировые и местные университеты, имеющие международную аккредитацию, и он привлекает студентов со всего мира',
      img: '@img/free zones/Dubai Academic City.jpeg',
      category: 'Образование',
      url: '#'
    },
    {
      title: 'Dubai Airport Free Zone',
      description: 'Полностью посвящен высшему образованию, в нём размещаются ключевые мировые и местные университеты, имеющие международную аккредитацию, и он привлекает студентов со всего мира',
      img: '@img/free zones/Dubai Airport Free Zone.jpg',
      category: 'Образование',
      url: '#'
    },
    {
      title: 'Dubai Biotechnology & Research Park',
      description: 'Полностью посвящен высшему образованию, в нём размещаются ключевые мировые и местные университеты, имеющие международную аккредитацию, и он привлекает студентов со всего мира',
      img: '@img/free zones/Dubai Biotechnology & Research Park.jpg',
      category: 'Образование',
      url: '#'
    },
    {
      title: 'Dubai Cars & Automotive Zone',
      description: 'Полностью посвящен высшему образованию, в нём размещаются ключевые мировые и местные университеты, имеющие международную аккредитацию, и он привлекает студентов со всего мира',
      img: '@img/free zones/Dubai Cars & Automotive Zone.jpg',
      category: 'Образование',
      url: '#'
    },
    {
      title: 'Dubai Design Centre',
      description: 'Полностью посвящен высшему образованию, в нём размещаются ключевые мировые и местные университеты, имеющие международную аккредитацию, и он привлекает студентов со всего мира',
      img: '@img/free zones/Dubai Design Centre.jpg',
      category: 'Образование',
      url: '#'
    },
    {
      title: 'Dubai Healthcare City',
      description: 'Полностью посвящен высшему образованию, в нём размещаются ключевые мировые и местные университеты, имеющие международную аккредитацию, и он привлекает студентов со всего мира',
      img: '@img/free zones/Dubai Healthcare City.jpg',
      category: 'Образование',
      url: '#'
    },
    {
      title: 'Dubai Biotechnology & Research Park',
      description: 'Полностью посвящен высшему образованию, в нём размещаются ключевые мировые и местные университеты, имеющие международную аккредитацию, и он привлекает студентов со всего мира',
      img: '@img/free zones/Dubai Biotechnology & Research Park.jpg',
      category: 'Образование',
      url: '#'
    },
    {
      title: 'Dubai Cars & Automotive Zone',
      description: 'Полностью посвящен высшему образованию, в нём размещаются ключевые мировые и местные университеты, имеющие международную аккредитацию, и он привлекает студентов со всего мира',
      img: '@img/free zones/Dubai Cars & Automotive Zone.jpg',
      category: 'Образование',
      url: '#'
    },
  ]

-
  const freeZones_advantages = [
    {
      text: 'В каких случаях нужна именно компания в свободной зоне, а в каких – нет',
      content:
      '<p class="accordion-item__content-item">'+
        'Главное различие компаний в свободных зонах и компаний на основной территории ОАЭ заключается в возможностях и ограничениях. Так, компании в СЭЗ ОАЭ могут вести коммерческую деятельность на территории своей юрисдикции, а также в других странах мира. Работать на остальной территории ОАЭ напрямую они не могут (только через местных посредников). Компании на основной территории ОАЭ не имеют таких ограничений на внутреннем рынке, но зато иностранец может владеть не более чем 49% акций такой компании. Остальные 51% должны принадлежать местному физическому, или юридическому лицу (правда прибыль согласно дополнительному соглашению может распределяться в любой пропорции).'+
      '</p>'
    },
    {
      text: 'Какие типы лицензий предоставляют свободные зоны',
      content:
      '<p class="accordion-item__content-item">'+
        'Главное различие компаний в свободных зонах и компаний на основной территории ОАЭ заключается в возможностях и ограничениях. Так, компании в СЭЗ ОАЭ могут вести коммерческую деятельность на территории своей юрисдикции, а также в других странах мира. Работать на остальной территории ОАЭ напрямую они не могут (только через местных посредников). Компании на основной территории ОАЭ не имеют таких ограничений на внутреннем рынке, но зато иностранец может владеть не более чем 49% акций такой компании. Остальные 51% должны принадлежать местному физическому, или юридическому лицу (правда прибыль согласно дополнительному соглашению может распределяться в любой пропорции).'+
      '</p>'
    },
    {
      text: 'В чём отличие компании в свободных зонах от компаний на основной территории в ОАЭ?',
      content:
      '<p class="accordion-item__content-item">'+
        'Главное различие компаний в свободных зонах и компаний на основной территории ОАЭ заключается в возможностях и ограничениях. Так, компании в СЭЗ ОАЭ могут вести коммерческую деятельность на территории своей юрисдикции, а также в других странах мира. Работать на остальной территории ОАЭ напрямую они не могут (только через местных посредников). Компании на основной территории ОАЭ не имеют таких ограничений на внутреннем рынке, но зато иностранец может владеть не более чем 49% акций такой компании. Остальные 51% должны принадлежать местному физическому, или юридическому лицу (правда прибыль согласно дополнительному соглашению может распределяться в любой пропорции).'+
      '</p>'
    },
    {
      text: 'Какую поддержку и помощь оказывают власти свободных зон?',
      content:
      '<p class="accordion-item__content-item">'+
        'Главное различие компаний в свободных зонах и компаний на основной территории ОАЭ заключается в возможностях и ограничениях. Так, компании в СЭЗ ОАЭ могут вести коммерческую деятельность на территории своей юрисдикции, а также в других странах мира. Работать на остальной территории ОАЭ напрямую они не могут (только через местных посредников). Компании на основной территории ОАЭ не имеют таких ограничений на внутреннем рынке, но зато иностранец может владеть не более чем 49% акций такой компании. Остальные 51% должны принадлежать местному физическому, или юридическому лицу (правда прибыль согласно дополнительному соглашению может распределяться в любой пропорции).'+
      '</p>'
    },
    {
      text: 'Приватность данных владельцев компаний в свободных зонах',
      content:
      '<p class="accordion-item__content-item">'+
        'Главное различие компаний в свободных зонах и компаний на основной территории ОАЭ заключается в возможностях и ограничениях. Так, компании в СЭЗ ОАЭ могут вести коммерческую деятельность на территории своей юрисдикции, а также в других странах мира. Работать на остальной территории ОАЭ напрямую они не могут (только через местных посредников). Компании на основной территории ОАЭ не имеют таких ограничений на внутреннем рынке, но зато иностранец может владеть не более чем 49% акций такой компании. Остальные 51% должны принадлежать местному физическому, или юридическому лицу (правда прибыль согласно дополнительному соглашению может распределяться в любой пропорции).'+
      '</p>'
    },
    {
      text: 'Какие обязательные требования для открытия компании в свободных зонах ОАЭ',
      content:
      '<p class="accordion-item__content-item">'+
        'Главное различие компаний в свободных зонах и компаний на основной территории ОАЭ заключается в возможностях и ограничениях. Так, компании в СЭЗ ОАЭ могут вести коммерческую деятельность на территории своей юрисдикции, а также в других странах мира. Работать на остальной территории ОАЭ напрямую они не могут (только через местных посредников). Компании на основной территории ОАЭ не имеют таких ограничений на внутреннем рынке, но зато иностранец может владеть не более чем 49% акций такой компании. Остальные 51% должны принадлежать местному физическому, или юридическому лицу (правда прибыль согласно дополнительному соглашению может распределяться в любой пропорции).'+
      '</p>'
    },
    {
      text: 'Сколько стоит открыть компанию в свободной зоне в Эмиратах',
      content:
      '<p class="accordion-item__content-item">'+
        'Главное различие компаний в свободных зонах и компаний на основной территории ОАЭ заключается в возможностях и ограничениях. Так, компании в СЭЗ ОАЭ могут вести коммерческую деятельность на территории своей юрисдикции, а также в других странах мира. Работать на остальной территории ОАЭ напрямую они не могут (только через местных посредников). Компании на основной территории ОАЭ не имеют таких ограничений на внутреннем рынке, но зато иностранец может владеть не более чем 49% акций такой компании. Остальные 51% должны принадлежать местному физическому, или юридическому лицу (правда прибыль согласно дополнительному соглашению может распределяться в любой пропорции).'+
      '</p>'
    },
    {
      text: 'Как получить консультацию по открытию компании в свободной зоне ОАЭ?',
      content:
      '<p class="accordion-item__content-item">'+
        'Главное различие компаний в свободных зонах и компаний на основной территории ОАЭ заключается в возможностях и ограничениях. Так, компании в СЭЗ ОАЭ могут вести коммерческую деятельность на территории своей юрисдикции, а также в других странах мира. Работать на остальной территории ОАЭ напрямую они не могут (только через местных посредников). Компании на основной территории ОАЭ не имеют таких ограничений на внутреннем рынке, но зато иностранец может владеть не более чем 49% акций такой компании. Остальные 51% должны принадлежать местному физическому, или юридическому лицу (правда прибыль согласно дополнительному соглашению может распределяться в любой пропорции).'+
      '</p>'
    },
  ]

-
  const state_nav_list = [
    {
      text: 'Государственное и политическое устройство ОАЭ',
      data_type: 'js-scroll-btn',
      target: 'state-structure',
      url: '#',
    },
    {
      text: 'Контакты госучреждений ОАЭ',
      data_type: 'js-scroll-btn',
      target: 'state-contacts',
      url: '#',
    },
    {
      text: 'Свободные экономические зоны в ОАЭ',
      data_type: 'js-scroll-btn',
      target: 'state-freeZones',
      url: '#',
    },
    {
      text: 'Преимущества свободных зон',
      data_type: 'js-scroll-btn',
      target: 'state-freeZones-advantages',
      url: '#',
    },
  ]

#state.info__page.state
  .info__page-content
    // Меню навигации
    .info__page-content__navigation(data-type="js-sticky-nav-bar")
      +accordion(state_nav_list, "nav-bar")

    // Контент
    .info__page-content__block.state-block
      // Государственное и политическое устройство
      .state-structure(data-type="js-anchor-block", data-ancor="state-structure")
        h2.info__page-content__block-title Государственное и политическое устройство ОАЭ
        .state-structure__text
          p.state-structure__text-item Объединенные Арабские Эмираты, как и любая другая мусульманская страна, отличаются уникальными системами государственного и политического устройства, которые диктуются нормами местного права и обычаями, сформировавшимися за столетия существования народов Среднего Востока.
          p.state-structure__text-item Все эмираты являются абсолютными монархиями, только в Абу-Даби существуют совещательные органы - Кабинет и Национальный консультативный совет, что приближает этот эмират к конституционной монархии. Каждый эмират имеет собственное правительство и административные органы.
          p.state-structure__text-item Государственное устройство Объединенных Арабских Эмиратов представляет собой уникальное сочетание республиканского и монархического строя. ОАЭ являются федеративным государством, состоящим из семи эмиратов - абсолютных монархий. Государство возглавляется эмиром Абу-Даби, правительство - эмиром Дубая.
          p.state-structure__text-item Сегодняшняя государственная система в ОАЭ напоминает федерацию, элементами которой являются эмираты. Во главе каждого из них находится эмир (аналог короля), причем, этот титул передается по наследству. Так что каждый эмир является представителем древнего рода восточных правителей.
          p.state-structure__text-item Монархическая власть сильна в Эмиратах, и это отражается на пути формирования главного органа управления страной.
        .info__page-cards.state-structure__cards
          a.info__page-card(href="#")
            h4.info__page-card-title Верховный Совет
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          a.info__page-card(href="#")
            h4.info__page-card-title Совет министров
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          a.info__page-card(href="#")
            h4.info__page-card-title Федеральный национальный совет
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          a.info__page-card(href="#")
            h4.info__page-card-title Правоохранительные органы
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          a.info__page-card(href="#")
            h4.info__page-card-title Президент
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
          a.info__page-card(href="#")
            h4.info__page-card-title Судебная власть
            .info__page-card-arrow.element-arrow
              img.element-arrow__img.svg(src="@img/svg/arrow-right-thin.svg", alt="")
      
      // Контакты госучреждений
      .state-contacts(data-type="js-anchor-block", data-ancor="state-contacts")
        h2.info__page-content__block-title Контакты госучреждений ОАЭ
        +accordion_content(state_contacts, 'state-contacts__accordion')

      // Свободные экономические зоны
      .state-freeZones(data-type="js-anchor-block", data-ancor="state-freeZones")
        h2.info__page-content__block-title Свободные экономические зоны в ОАЭ
        .state-freeZones__filters
          .state-freeZones__filters-filter
            +drop-down("Эмират", "filter", state_emirates)
          .state-freeZones__filters-filter
            +drop-down("Категория", "filter", state_freeZones_categories)
        .state-freeZones__content.freeZones-content
          each item in freeZones_items
            .freeZones-content__item
              .freeZones-content__item-image
                img.freeZones-content__item-image-img(src= item.img, alt= item.title)
              .freeZones-content__item-content
                h3.freeZones-content__item-title= item.title
                p.freeZones-content__item-description= item.description
                .freeZones-content__item-content-bottom
                  +more-btn-border("Подробнее", item.url, "freeZones-content__item-more")
                  span.freeZones-content__item-category= item.category
        +pagination("freeZones-pagination")

      // Преимущества свободных зон
      .state-freeZones-advantages(data-type="js-anchor-block", data-ancor="state-freeZones-advantages")
        h2.info__page-content__block-title Преимущества свободных зон
        +accordion_content(freeZones_advantages, 'state-freeZones-advantages__accordion')