-
  const map = [
    {
      text: 'О портале',
      url: '/about'
    },
    {
      text: 'Справка',
      url: '/info'
    },
    {
      text: 'Законы',
      url: '/laws'
    },
    {
      text: 'События',
      url: '/events'
    }
  ]

-
  const usefull_links = [
    {
      text: 'Виды лицензий',
      url: '/info#Виды лицензий'
    },
    {
      text: 'Виды компаний',
      url: '/info#Виды компаний'
    },
    {
      text: 'Государственное и политическое устройство',
      url: '/info#Государственное и политическое устройство'
    },
    {
      text: 'Оншорные компании',
      url: '/info#Оншорные компании'
    },
    {
      text: 'Оффшорные компании',
      url: '/info#Оффшорные компании'
    },
    {
      text: 'Свободные экономические зоны',
      url: '/info#Свободные экономические зоны'
    }
  ]

footer.footer
  .footer-content
    .footer-content__body
      // Блоки
      .footer-content__body-blocks
        // блок с логотипом
        .footer-content__body-block.footer-content__body-logo
          include ../components/_logo.pug
        // Блок "карта сайта"
        .footer-content__body-block.footer-content__body-map
          .body-block__title
            p.body-block__title-text Карта сайта
          .body-block__content
            +navigation(map)
        // блок "Полезные ссылки"
        .footer-content__body-block.footer-content__body-links
          .body-block__title
            p.body-block__title-text Полезные ссылки
          .body-block__content
            .body-block__content-search
              +search("Поиск по сайту", "")
            .body-block__content-links
              +navigation(usefull_links)
    .footer-content__bottom
      p.footer-content__bottom-copyrights &#169; 2023 EmiratesLaw