-
  const languages = [
    {
      text: 'RU'
    },
    {
      text: 'EN'
    },
    {
      text: 'عربي'
    }
  ]

-
  const navigation = [
    {
      text: 'О портале',
      url: '/about'
    },
    {
      text: 'Справка',
      url: '/info'
    },
    {
      text: 'Законы',
      url: '/laws'
    },
    {
      text: 'События',
      url: '/events'
    }
  ]

header.header
  .header-content
    .header-logo|<!-- лого -->
      include ../components/_logo.pug
    .header-menu|<!-- Меню с ссылками на страницы -->
      +navigation(navigation)
    .header-settings|<!-- Выбор языка и поиск -->
      button.header-search|<!-- Поиск -->
        img.header-search__img.svg(src="@img/svg/search.svg", alt="Поиск")
      .header-language|<!-- Выбор языка -->
        +drop-down("RU", "", languages)