-
  const languages = [
    {
      first_level: 'RU',
      name: 'language',
      checked: true
    },
    {
      first_level: 'EN',
      name: 'language'
    },
    {
      first_level: 'عربي',
      name: 'language'
    }
  ]

-
  const navigation = [
    {
      text: 'О портале',
      url: '/about'
    },
    {
      text: 'FAQ / INFO о бизнесе',
      url: '/info'
    },
    {
      text: 'События',
      url: '/events'
    }
  ]

header.header
  .header-content
    // лого
    .header-logo
      include ../components/_logo.pug
    // Меню с ссылками на страницы
    .header-menu
      +navigation(navigation)
    // Выбор языка, поиск и курс валют
    .header-settings
      // Курс валют
      button.header-settings__item.header-exchange-rates(data-type="js-open-btn", data-modal="js-exchange-rates-btn")
        img.svg.header-exchange-rates__img(src="@img/svg/exchange_rates_icon.svg", alt="Курс валют")

      // Поиск
      button.header-settings__item.header-search(data-type="js-open-btn", data-modal="js-search-btn")
        img.svg.header-search__img(src="@img/svg/search.svg", alt="Поиск")

      // Выбор языка
      .header-settings__item.header-language
        +drop-down("RU", "", languages)