-
  const languages = [
    {
      text: 'RU'
    },
    {
      text: 'EN'
    },
    {
      text: 'عربي'
    }
  ]

header.header
  .header-content
    .header-logo|<!-- лого -->
      include ../components/_logo.pug
    .header-menu|<!-- Меню с ссылками на страницы -->
      include ../components/_navigation.pug
    .header-settings|<!-- Выбор языка и поиск -->
      button.header-search|<!-- Поиск -->
        img.header-search__img.svg(src="@img/svg/search.svg", alt="Поиск")
      .header-language|<!-- Выбор языка -->
        +drop-down("RU", "", languages)