// Шрифты
$font-family: "Inter", sans-serif !default;
$font-size: 16px;
$line-hight: 150%;

// Цвета
$white: #EDF8FF;
$black: #272727;
$gold: #FFD700;
$yellow: #FCDE77;
$dark-grey: #404040;
$grey: #737e84;
$light-grey-1: #AEBAC3;
$red: #FF4951;
$blue: #5A99F8;

// Отступы
$page-padding: 40px;
$block-margin: 160px;

// Размеры блоков
$nav-bar-width: 400px;