body {
  background-color: $black;
  color: $white;

  .content {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

.swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.svg {
  path,
  polygon {
    fill: $white;
    stroke: $white;
  }
}

.parallax__inner {
  position: relative;
  overflow: hidden;
}

.parallax__layer {
  transition: transform 0.3s linear;
}
