body {
  position: relative;
  background-color: $black;
  color: $white;

  .content {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    .title-block {
      position: relative;
      width: 100%;
      padding: $header-height ($title-left-padding + $page-padding) 0;
      overflow: hidden;

      &__title {
        position: relative;
        width: 100%;
        text-align: center;
        margin: $block-margin auto;
        font-weight: 700;
        font-size: 80px;
        letter-spacing: 0.15em;
        text-transform: capitalize;
      }
    }
  }
}

.os-scrollbar {

  &-handle {
    --os-handle-bg: rgba(115, 126, 132, 0.8);
    --os-handle-bg-hover: rgba(64, 64, 64, 0.8);
    --os-handle-bg-active: rgba(64, 64, 64, 0.8);
  }
}

.swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.svg {
  polygon {
    fill: $white;
    stroke: $white;
  }
}

.parallax__inner {
  position: relative;
  overflow: hidden;
}

.parallax__layer {
  transition: transform 0.3s linear;
}
