ul.navigation
  li.navigation__item
    a.navigation__item-link(href="#") О портале
  li.navigation__item
    a.navigation__item-link(href="#") Справка
  li.navigation__item
    a.navigation__item-link(href="#") Законы
  li.navigation__item
    a.navigation__item-link(href="#") События